<section id="advert">
    <div class="block__inner container">
        <div class="advert__description">
            <div class="advert__title">
                <h1 class="advertise-title">As a veterinarian and
                </h1>
                <p class="advertise-title lover">lover of animals.</p>
            </div>
            <div class="advert__text">
                <p class="advertise-txt">
                    Lorem Ipsum available but the majoty
                    suffered alteration in some form, by<br>
                    humour randomised words.
                </p>
            </div>
            <div class="advert__button">
                <button class="btn-advert">
                    <a href="#" class="advert-a">Our service</a>
                </button>
            </div>
        </div>
        <div class="advert__img">
            <div class="img-dog"></div>
            <div class="video-dog">
                <iframe width="506" height="480" src="https://www.youtube.com/embed/dVJizChLUO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</section>