<section id="contact-title">
    <div class="contact__inner container">
        <div class="contact-card">
            <div class="contact-img-card1">
                <img src="../../assets/images/icon/IconHeart.png" alt="contact7" class="img-contact">
            </div>
            <div class="phone-card">
                <h1 class="contact-text-heading">+34793</h1>
                <p class="phone-contact fix-client">Happy Clients</p>
            </div>
        </div>
        <div class="contact-card">
            <div class="contact-img-card2">
                <img src="../../assets/images/icon/iconContact.png" alt="contact8" class="img-contact">
            </div>
            <div class="phone-card">
                <h1 class="contact-text-heading">+45382</h1>
                <p class="phone-contact">Departament</p>
            </div>
        </div>
        <div class="contact-card">
            <div class="contact-img-card3">
                <img src="../../assets/images/icon/IconKim.png" alt="contact9" class="img-contact">
            </div>
            <div class="phone-card">
                <h1 class="contact-text-heading">+54762</h1>
                <p class="phone-contact">Vaccinations</p>
            </div>
        </div>
    </div>
</section>