<footer id="footer">
    <div class="footer__inner container">
        <div class="list__footer">
            <div class="list-about">
                <label class="label-heading">About</label>
                <ul class="footer-ul">
                    <li class="footer-li"><a class="list-a">History</a></li>
                    <li class="footer-li"><a class="list-a">Our Team</a></li>
                    <li class="footer-li"><a class="list-a">Brand Guidelines</a></li>
                    <li class="footer-li"><a class="list-a">Terms & Condition</a></li>
                    <li class="footer-li"><a class="list-a">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="list-services">
                <label class="services-heading">Services</label>
                <ul class="footer-ul">
                    <li class="footer-li"><a class="list-a">How to Order</a></li>
                    <li class="footer-li"><a class="list-a">Our Product</a></li>
                    <li class="footer-li"><a class="list-a">Order Status</a></li>
                    <li class="footer-li"><a class="list-a">Promo</a></li>
                    <li class="footer-li"><a class="list-a">Payment Method</a></li>
                </ul>
            </div>
        </div>
        <div class="list__title">
            <h1 class="title-footer">Title Here</h1>
            <p class="text-footer">Lorem Ipsum available, but the majorit</p>
            <form id="form-send">
                <input type="text" class="input-send" name="sendInfor">
                <button class="send-information">
                    <img src="../../assets/images/button/iconSend.png" alt="">
                </button>
            </form>
            <div class="list-icon-footer">
                <img src="../../assets/images/icon/instagram.png" alt="insta" class="icon-footer">
                <img src="../../assets/images/icon/facebook.png" alt="insta" class="icon-footer">
                <img src="../../assets/images/icon/twitter.png" alt="insta" class="icon-footer">
                <img src="../../assets/images/icon/whatsApp.png" alt="insta" class="icon-footer">
            </div>
        </div>
    </div>
</footer>