<section id="main-title">
    <div class="block__inner container">
        <div class="main__description">
            <div class="main__title">
                <h1 class="main-title">Title Here</h1>
                <div class="main-heading">
                    <p class="text-title"> Lorem Ipsum available, but the majority have<p>
                    <p class="text-title">suffered alteration in some form.</p>
                </div>
            </div>
            <div class="main__card">
                <div class="card">
                    <div class="img-card">
                        <img src="../../assets/images/doctor_image/doctor_img7.png" alt="doctor7" class="img-doctor">
                    </div>
                    <div class="text-card">
                        <h1 class="text-heading">Veterinarian</h1>
                        <p class="text-note"> Lorem Ipsum available, but
                            the majority have suffered
                            alteration in some.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../../assets/images/doctor_image/doctor_img8.png" alt="doctor8" class="img-doctor">
                    </div>
                    <div class="text-card">
                        <h1 class="text-heading">Vaccination Care</h1>
                        <p class="text-note"> Lorem Ipsum available, but
                            the majority have suffered
                            alteration in some.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../../assets/images/doctor_image/doctor_img9.png" alt="doctor9" class="img-doctor">
                    </div>
                    <div class="text-card">
                        <h1 class="text-heading">Dental Care</h1>
                        <p class="text-note"> Lorem Ipsum available, but
                            the majority have suffered
                            alteration in some.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>