<section id="advert">
    <div class="block__inner block__more container">
        <div class="advert__img">
            <div class="doggy"></div>
            <div class="video-dog video-doggy">
                <iframe width="505" height="478" src="https://www.youtube.com/embed/dVJizChLUO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="advert__description more-advert">
            <div class="advert__title more-title">
                <h1 class="advertise-title more-advertise">As a veterinarian and
                </h1>
                <p class="txt-title">lover of animals</p>
            </div>
            <div class="advert__text more-text">
                <p class="advertise-txt">
                    Lorem Ipsum available but the majoty
                    suffered alteration in some form, by<br>
                    <span class="fix-more">humour randomised words.</span>
                </p>
            </div>
            <div class="advert__button more-button">
                <button class="btn-advert">
                    <a href="#" class="advert-a">Our service</a>
                </button>
            </div>
        </div>
    </div>
</section>