<section id="doctor-title">
    <div class="block__inner container">
        <div class="main__description">
            <div class="main__title">
                <h1 class="doctor-title">The vetcare team</h1>
                <div class="doctor-heading">
                    <p class="text-title"> Lorem Ipsum available, but the majority have<p>
                    <p class="text-title">suffered alteration in some form.</p>
                </div>
            </div>
            <div class="main__card">
                <div class="doctor-card">
                    <div class="img-card">
                        <img src="../../assets/images/doctor_image/doctor_img1.png" alt="doctor7" class="img-doctor">
                    </div>
                    <div class="text-card">
                        <h1 class="doctor-text-heading">Jennifer Mullen</h1>
                        <p class="text-note">VETERINARY</p>
                        <div class="personal-icon">
                            <img src="../../assets/images/icon/instagram.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/facebook.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/twitter.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/whatsApp.png" alt="insta" class="icon-image">
                        </div>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="img-card">
                        <img src="../../assets/images/doctor_image/doctor_img2.png" alt="doctor8" class="img-doctor">
                    </div>
                    <div class="text-card">
                        <h1 class="doctor-text-heading">Sheeren Collins</h1>
                        <p class="text-note">ADMINISTRATION</p>
                        <div class="personal-icon">
                            <img src="../../assets/images/icon/instagram.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/facebook.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/twitter.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/whatsApp.png" alt="insta" class="icon-image">
                        </div>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="img-card">
                        <img src="../../assets/images/doctor_image/doctor_img3.png" alt="doctor9" class="img-doctor">
                    </div>
                    <div class="text-card">
                        <h1 class="doctor-text-heading">Jennifer Mullen</h1>
                        <p class="text-note">VETERINARY</p>
                        <div class="personal-icon">
                            <img src="../../assets/images/icon/instagram.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/facebook.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/twitter.png" alt="insta" class="icon-image">
                            <img src="../../assets/images/icon/whatsApp.png" alt="insta" class="icon-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>