$background-header: #daac00;
$text: #ffffff;
$background: #fcc302;
$background-button : #00bec9;
$text-head: #313243;
$background-footer: #343434;
$text-next:  #313243;

$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-heading: 700;